.avatar,
.avatar > i {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  padding: 0;
}

.avatar i {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.avatar.size-mini,
.avatar.size-mini i {
  width: 35px;
  height: 35px;
  border-radius: 4px;
}

.avatar.size-130,
.avatar.size-130 i {
  width: 130px;
  height: 130px;
  border-radius: 6px;
}

.avatar.size-75,
.avatar.size-75 i {
  width: 75px;
  height: 75px;
  border-radius: 6px;
}

.avatar.size-50,
.avatar.size-50 i {
  width: 50px;
  height: 50px;
  border-radius: 6px;
}

.avatar.size-mini.sleepmode-1 i,
.avatar.size-mini.sleepmode-2 i {
  background-image: url(/img/sleep35x35.png);
  left: -4px;
  position: relative;
  top: -6px;
}

.avatar.size-50.sleepmode-1 i,
.avatar.size-50.sleepmode-2 i {
  background-image: url(/img/sleep50x50.png);
  left: -8px;
  position: relative;
  top: -7px;
}

.avatar.size-130.sleepmode-1 i,
.avatar.size-130.sleepmode-2 i {
  background-image: url(/img/sleep130x130.png);
  left: -30px;
  position: relative;
  top: -25px;
}

.avatar.sleepmode-1,
.avatar.sleepmode-2 {
  opacity: 1;
}

.content-top {
  background-color: var(--fs-color-light);
  color: var(--fs-color-primary-500);
  padding: 15px;
  margin-bottom: 15px;
}

.content-top .img {
  float: left;
  margin-right: 15px;
}

.content-top h3 {
  padding: 0;
  margin: 0;
}

.content-top p {
  margin: 2px 0 0 0;
}

.bubble {
  background-color: var(--fs-color-light) !important;
  padding: 8px !important;
  position: absolute !important;
  width: 250px !important;
  color: var(--fs-color-primary-500) !important;
  font-size: 13px !important;
  font-weight: bold !important;
  z-index: 150;
}

.bubble-right:after {
  border-color: var(--fs-color-transparent) var(--fs-color-light) !important;
  border-style: solid !important;
  border-width: 7px 7px 7px 0 !important;
  content: "" !important;
  display: block !important;
  left: -7px !important;
  position: absolute !important;
  top: 45px;
  width: 0 !important;
  z-index: 1 !important;
}

.avatar .bubble {
  margin-left: -5px;
}

.avatar .bubble-right:after {
  top: 12px;
}

.red,
.red a {
  color: var(--fs-color-danger-500);
}

#g_login {
  max-width: 400px;
  margin: 0 auto;
}

/* a,
.bootstrap a,
.markdown a[href],
.bootstrap .markdown a,
.ui-widget-content a {
  color: var(--fs-color-secondary-500);
  text-decoration: none;
}

a:hover,
.bootstrap a:hover,
.markdown a[href]:hover,
.bootstrap .markdown a:hover,
.ui-widget-content a:hover {
  color: var(--fs-color-secondary-500);
  text-decoration: underline;
}

.markdown a[href],
.bootstrap .markdown a {
  font-weight: bold;
} */


.ui-dialog,
.ui-shadow {
  box-shadow: 0 0 7px var(--fs-color-gray-alpha-30);
}

textarea {
  resize: none;
}

blockquote {
  quotes: none;
}

blockquote:before,
blockquote:after {
  content: none;
}
/* RESET END */

body{
  background-color: var(--fs-color-light);
}

.odd {
  background-color: var(--fs-color-light);
  border-bottom: 1px solid var(--fs-border-default);
}

.v-form {
  padding: 15px;
  background-color: unset;
}

.input-wrapper {
  border-bottom: 1px solid var(--fs-border-default);
  padding-bottom: 15px;
  padding-top: 15px;
  margin-top: 0;
}

.input-wrapper label.wrapper-label {
  color: var(--fs-color-primary-500);
  display: block;

  font-weight: 500;
  padding-top: 5px;
}

label.wrapper-label.required:after {
  content: ' *'
}

.input-wrapper label.wrapper-label a {
  text-decoration: none;
  color: var(--fs-color-primary-500);
}

.input-wrapper label.wrapper-label a:hover {
  color: var(--fs-color-dark);
}

select {
  padding: 7px;
  background-color: var(--fs-color-light);
}

.margin-bottom {
  margin-bottom: 14px;
}

.dialog {
  display: none;
}

div#main {
  line-height: 1.6em;
  margin: 0 auto;
  max-width: 1100px;
  padding: 2rem 0;
  min-height: calc(83vh);
}

.inside {
  background-color: var(--fs-color-transparent);
  border-radius: 6px;
  padding-right: 8px;
  padding-left: 8px;
}

.head.ui-widget-header {
  font-size: 13px;
  font-weight: normal;
  margin: 0;
  padding: 10px;
}

.clear {
  clear: both;
}

div.map {
  width: 714px;
  height: 400px;
  background-color: var(--fs-color-gray-500);
}

div.ui-dialog textarea {
  width: 100%;
  height: 100px;
}

.ui-msg {
  padding-top: 10px;
}

.ui-msg ul {
  display: block;
  float: left;
  margin-left: 9px;
}

div.popbox h3 {
  font-size: 16px;
  font-weight: bold;
}

div.popbox a.link {
  color: var(--fs-color-primary-500);
  text-decoration: none;
}

div.popbox a.link:hover {
  text-decoration: underline;
}

div.popbox p.subtitle {
  border-bottom: 1px solid var(--fs-border-default);
  color: var(--fs-color-gray-300);
  font-size: 11px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  padding-top: 5px;
}

div.popbox p.bottom {
  width: 100%;
  border-top: 1px solid var(--fs-border-default);
  padding-top: 10px;
  text-align: right;
}

div.popbox div.middle {
  margin-top: 10px;
  margin-bottom: 10px;
}

div.mce-tinymce.mce-container.mce-panel {
  border-width: 0 !important;
}


textarea.xv {
  width: 430px;
  height: 75px;
  border: 1px solid var(--fs-color-gray-200);
  padding: 8px;
}

div.pulse-msg {
  font-size: 14px;
  left: 50%;
  line-height: 17px;
  margin-left: -145px;
  margin-top: -100px;
  padding: 25px;
  position: fixed;
  top: 50%;
  width: 240px;
  z-index: 50000;
  border-radius: 6px 6px 6px 6px;
  border: 0 solid var(--fs-color-dark);
}

div.msg-inside {
  border-radius: 6px;
  padding: 15px 15px 15px 30px;
  background-color: var(--fs-color-warning-200);
  text-align: center;
}

div.msg-inside i {
  display: inline-block;
  width: 15px;
  margin-right: -18px;
  position: relative;
  left: -20px;
}

div.msg-inside.error,
div.msg-inside.error a {
  background-color: var(--fs-color-danger-500);
  color: var(--fs-color-light);
}

div.msg-inside.error a {
  text-decoration: underline;
}

div.msg-inside.error a:hover {
  text-decoration: none;
}

div.msg-inside.success,
div.msg-inside.success a {
  background-color: var(--fs-color-secondary-500) !important;
  color: var(--fs-color-light) !important;
}

div.msg-inside.error i {
  color: var(--fs-color-light);
}

div#pulse-success {
  background-color: var(--fs-color-success-500) !important;
  color: var(--fs-color-light) !important;
}

div#pulse-error {
  background-color: var(--fs-color-danger-500) !important;
  color: var(--fs-color-light) !important;
}

div#pulse-info {
  background-color: var(--fs-color-info-200) !important;
  color: var(--fs-color-info-500) !important;
}

div.pulse-msg p {
  font-size: 14px;
  line-height: 17px;
}

div.broadcast-message {
  border-radius: 0;
  border-bottom: 1px solid var(--fs-color-primary-500);
  padding: 15px;
  padding-top: 30px;
  padding-bottom: 10px;
  margin-top: -20px;
  background-color: var(--fs-color-light);
  text-align: center;
}


li.placeholder {
  list-style: none;
}

div.wrap .logo {
  left: 13px;
  position: absolute;
  top: 434px;
  z-index: 500;
}

textarea.comment {
  width: 98% !important;
  height: 33px;
  margin-bottom: 10px;
}

div.foot {
  display: block;
  text-align: left;
  font-size: 11px;
  padding: 12px 0 5px 8px;
  color: var(--fs-color-primary-500);
}

.foot span,
.foot a {
  /* font-weight: lighter; */
  font-size: 12px;
}

div.foot span.dot {
  margin: 0 5px 0 5px;
}

a.light {
  color: var(--fs-color-primary-400);
  text-decoration: none;
}

a.light:hover {
  color: var(--fs-color-primary-500);
}

select.childChanger {
  width: 355px;
  margin-bottom: 8px;
}

div.popbox div.desc {
  color: var(--fs-color-gray-300);
  font-size: 11px;
  padding-bottom: 10px;
  padding-top: 5px;
  width: 400px;
}

div.input-wrapper.today {
  background-color: var(--fs-color-light);
  margin-left: -10px;
  margin-right: -10px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 8px;
  border: 0;
}

/* jq rte */
iframe.text {
  border-bottom: 1px solid var(--fs-color-gray-200);
  border-left: 1px solid var(--fs-color-gray-200);
  border-right: 1px solid var(--fs-color-gray-200);
  padding: 7px;
  width: 563px;
  border-radius: 0 0 6px 6px;
}
/* rte ende */

table.tablesorter td span.photo {
  display: block;
  margin-left: 10px;
}

table.tablesorter td span.photo a {
  display: block;
  margin: 0;
  padding: 0;
}

/*WELCOME BOX */
div.welcome {
  min-height: 50px;
  position: relative;
  background: var(--fs-color-light) none;
}

div.welcome a {
  color: var(--fs-color-primary-500);
  text-decoration: none;
}

div.welcome a:hover {
  color: var(--fs-color-primary-400);
}

div.welcome .welcome_profile_image {
  border-radius: 6px;
  height: 50px;
  left: 10px;
  position: absolute;
  width: 50px;
}

div.welcome .welcome_profile_image .bubble {
  display: none !important;
}

div.welcome .welcome_profile_image .avatar {
  border-radius: 6px;
}

div.welcome .welcome_profile_name {
  margin-left: 60px;
  float: left;
}

div.welcome .user_display_name {
  padding-top: 6px;
  color: var(--fs-color-primary-500);
  font-weight: bold;
}

div.welcome .welcome_quick_link ul {
  list-style-type: none;
  margin: 6px 0 0;
  padding: 0;
}

div.welcome .welcome_quick_link ul li {
  display: block;
  float: left;
  margin-right: 4px;
  position: relative;
}

div.welcome .welcome_profile_survived {
  float: right;
}

ul.linklist {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.linklist li span.n {
  font-weight: bold;
  display: block;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

ul.linklist li span.d {
  display: block;
  font-size: 13px;
  margin-top: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

ul.linklist li > a i.fa {
  display: inline-block;
  height: 17px;
  line-height: 18px;
  text-align: center;
  width: 17px;
}

.history li.title {
  font-size: 13px;
  font-weight: bold;
  border-top: 1px solid var(--fs-border-default);
  padding-top: 8px;
  margin-top: 8px;
}

ul.linklist li span.c {
  clear: both;
  display: block;
}

ul.linklist li span.i {
  display: block;
  float: left;
  margin-right: 8px;
  border-radius: 6px 6px 6px 6px;
  border: 0 solid var(--fs-color-dark);
}

ul.linklist li span.t {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

ul.linklist li span.time {
  font-size: 10px;
  opacity: 0.8;
  margin-top: 3px;
}

ul.linklist li span.i img {
  border-radius: 6px 6px 6px 6px;
  border: 0 solid var(--fs-color-dark);
}

ul.linklist li > a.more {
  background-color: var(--fs-color-secondary-500);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  color: var(--fs-color-light);
  display: block;
  font-size: 12px;
  font-weight: bold;
  line-height: 32px;
  text-align: center;
  margin-top: 15px;
}

ul.linklist li,
ul.linklist li > a,
ul.linklist li > a span {
  display: block;
  margin: 0;
  padding: 0;
}

ul.linklist li > a {
  padding: 6px;
  text-decoration: none !important;
  color: var(--fs-color-primary-500);
  font-weight: 500;
  position: relative;
}

ul.linklist li > a span.title {
  text-decoration: none !important;
  color: var(--fs-color-primary-500);
  font-weight: 500;
}

ul.linklist li > a.active {
  background-color: var(--fs-color-gray-200);
  color: var(--fs-color-primary-900);
}

ul.linklist li > a:hover,
ul.linklist li > a:hover span {
  background-color: var(--fs-color-secondary-500);
  color: var(--fs-color-light);
}

.activity_feed_content_info {
  font-size: 13px;
  /* font-weight: lighter; */
}

.post .foot {
  padding: 12px 0 5px 0;
  margin-top: 5px;
}

.post a {
  color: var(--fs-color-secondary-500);
  text-decoration: none;
}

.post a:hover {
  text-decoration: underline;
}

.head.ui-widget-header {
  padding: 8px;
}

.ui-widget-header {
  background: none repeat scroll 0 0 var(--fs-color-primary-500);
  color: var(--fs-color-light);
  font-weight: bold;
  border: 0;
  border-radius: 6px;
}

.loading {
  background: url(/img/dialog-loader.gif) no-repeat center !important;
}

.loading .inner {
  visibility: hidden;
}

/* TODO where is this used? */
span.verified {
  background-image: url(/img/verify.png);
  display: block;
  width: 36px;
  height: 36px;
  background-repeat: no-repeat;
  background-position: -36px -36px;
  left: 127px;
  position: absolute;
  top: 155px;
}

.scroller {
  clear: both;
  margin: 0;
  padding: 0;
}

.scroller .viewport {
  height: 350px;
  overflow: hidden;
  position: relative;
}

.scroller .overview {
  list-style: none;
  position: absolute;
  left: 10px;
  top: 0;
}

.scroller .thumb .end,
.scroller .thumb {
  background-color: var(--fs-color-primary-500);
  border-radius: 4px;
}

.scroller .scrollbar {
  position: relative;
  float: right;
  width: 8px;
}

.scroller .track {
  background-color: var(--fs-color-light);
  height: 100%;
  width: 8px;
  position: relative;
  padding: 0;
  border-radius: 4px;
}

.scroller .thumb {
  height: 20px;
  width: 8px;
  cursor: pointer;
  overflow: hidden;
  position: absolute;
  top: 0;
}

.scroller .thumb .end {
  overflow: hidden;
  height: 5px;
  width: 8px;
}

.scroller .disable {
  display: none;
}

.ui-tooltip,
.arrow:after {
  background: var(--fs-color-primary-500);
  border: 2px solid white;
}

.ui-tooltip {
  padding: 10px 20px;
  color: white;
  border-radius: 20px;
  font: 13px "Helvetica Neue", Sans-Serif;
  box-shadow: 0 0 7px black;
}

.arrow {
  width: 70px;
  height: 16px;
  overflow: hidden;
  position: absolute;
  left: 50%;
  margin-left: -35px;
  bottom: -16px;
}

.arrow.top {
  top: -16px;
  bottom: auto;
}

.arrow.left {
  left: 20%;
}

.arrow:after {
  content: "";
  position: absolute;
  left: 20px;
  top: -20px;
  width: 25px;
  height: 25px;
  transform: rotate(45deg);
}

.arrow.top:after {
  bottom: -20px;
  top: auto;
}

a.light {
  color: var(--fs-color-primary-500);
}

ul.linklist li > a:hover span.day {
  color: var(--fs-color-warning-800) !important;
}

a.expand-collapse-link {
  display: block;
  padding: 3px;
  text-align: center;
  color: var(--fs-color-light);
  font-weight: bold;
  background-color: var(--fs-color-secondary-500);
  text-decoration: none;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  position: relative;
  top: -20px;
}

a.expand-collapse-link:hover {
  background-color: var(--fs-color-secondary-500);
  text-decoration: none;
}

a.preview-thumb {
  display: block;
  float: left;
  border: 3px solid var(--fs-color-light);
  margin: 3px;
  width: 60px;
  height: 60px;
  text-decoration: none;
  overflow: hidden;
}

.gallery a.preview-thumb {
  float: left;
  max-width: 400px;
  width: 90%;
  height: auto;
}

.gallery a.preview-thumb img {
  max-width: 400px;
  width: 90%;
}

a.preview-thumb:hover {
  border: 3px solid var(--fs-color-primary-500);
}

.attach-load {
  background-repeat: no-repeat;
  background-image: url(/img/icon-mail/attach-loader.gif);
  background-position: center;
}

td.load {
  background-repeat: no-repeat;
  background-image: url(/img/icon-mail/attach-loader.gif);
  background-position: center;
}

.xhrDialog .text,
.xhrDialog input[type=text],
.xhrDialog textarea,
.xhrDialog select {
  width: 95%;
}

.corner-all,
.linklist li > a {
  border-radius: 6px;
}

.corner-top {
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.corner-bottom {
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

.ui-button,
.button {
  color: var(--fs-color-light) !important;
  background-color: var(--fs-color-secondary-500);
  border-radius: 6px;
  border: 0 none;
  text-decoration: none;
  background-image: none;
  font-weight: bold !important;
  padding: 5px 10px;
  font-size: 13px;
  line-height: normal;
}

.button.button-big {
  font-size: 16px;
  width: 91%;
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.ui-button:hover,
.button:hover {
  background-color: var(--fs-color-secondary-500);
  opacity: 0.8;
  text-decoration: none !important;
}

.ui-button .ui-button-text {
  text-decoration: none !important;
}

/* ul.bread {
  display: block;
  list-style: none;
  float: left;
  margin: 5px 0 4px 12px;
  padding: 0;
  background-color: var(--fs-color-transparent) !important;
}
*/

/* ul.bread li,
ul.bread li a {
  font-size: 10px;
  font-weight: normal;
  color: var(--fs-color-primary-500);
} */

ul.bread li:before {
  font-family: "Font Awesome 5 Free", monospace;
  font-weight: 900;
  content: "\f0da";
  font-size: 10px;
  margin-right: 10px;
  position: relative;
  top: 1px;
}

ul.bread li.last {
  color: unset;
}

ul.bread li {
  display: block;
  float: left;
  margin-right: 10px;
  font-size: 10px;
}

.ui-dialog .ui-dialog-titlebar-close {
  background-image: none;
}

.ui-dialog .ui-dialog-titlebar-close .ui-button-text {
  display: none;
}

.ui-dialog .ui-dialog-titlebar-close .ui-icon {
  background-image: none !important;
}

.ui-dialog .ui-dialog-titlebar-close:before {
  font-family: 'Font Awesome 5 Free', monospace;
  font-style: normal;
  font-weight: 900;
  content: "\f00d";
  text-indent: 0;
  font-size: 16px;
  position: relative;
  left: 1px;
  top: -1px;
}

.pickermap {
  height: 280px;
}

ul.linklist li > a .avatar span.bubble,
ul.linklist li > a:hover .avatar span.bubble {
  margin-left: 37px !important;
  margin-top: -40px !important;
  color: var(--fs-color-primary-500) !important;
}

.slimScrollDiv .avatar .bubble {
  display: none !important;
}

.vidlink {
  margin: 0;
  padding: 0;
}

.vidlink img {
  padding: 0;
  border: 10px solid var(--fs-color-light);
  width: 100%;
  box-sizing: border-box;
  height: auto;
}

.vidlink:hover img {
  border: 10px solid var(--fs-color-secondary-500);
}

.vmap {
  width: 100%;
  height: 450px;
  background-color: var(--fs-color-light);
}

.bottom_bar {
  border-top: 1px solid var(--fs-border-default) !important;
  padding-top: 7px;
}

div.bottom_bar .button-interactions {
  float: right;
  display: block;
}

@media (max-width: 1025px) {
  div.bottom_bar .button-interactions {
    float: none;
    text-align: center;
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-around;
  }

  div.bottom_bar .button-interactions a:not(:last-child) {
    margin-bottom: 5px;
  }

  .inside {
    border-radius: 0;
  }
}

.legal .form-check .wrapper-label {
  display: inline-block;
  margin-top: 5px;
}
.legal .form-check .element-wrapper {
  display: inline;
  float: left;
  transform: scale(1.5);
  margin-left: -20px;
  padding: 10px 20px;
}

.bootstrap input.form-control::placeholder {
  color: var(--fs-color-dark);
}
