div.post_body {
  float: left;
  margin-top: 7px;
  margin-bottom: 7px;
  width: 75%;
}

div.post textarea {
  height: 165px;
}

/* food share point list */
ul.food-share-point-list li a span.image {
  display: block;
  width: 60px;
  height: 60px;
  float: left;
  margin-right: 10px;
  background-position: center;
  background-repeat: no-repeat;
}

ul.food-share-point-list li a span.image.noimage {
  background-color: var(--fs-color-light);
}

ul.food-share-point-list li a span.clear {
  display: block;
  clear: both;
}

.event .welcome_profile_name {
  margin-left: 82px !important;
}

div.event {
  min-height: 70px;
}

.calendar {
  display: block;
  float: left;
  height: 70px;
  margin: 0 20px 0 0;
  padding: 0;
  width: 70px;
  text-decoration: none;
}

.calendar .month {
  background-color: var(--fs-color-warning-500) !important;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  color: var(--fs-color-light) !important;
  display: block;
  font-size: 13px;
  font-weight: bold;
  height: 23px;
  line-height: 23px;
  margin: 0;
  padding: 0;
  text-align: center;
  text-shadow: 1px 1px 1px var(--fs-color-gray-alpha-60);
  text-decoration: none;
}

.calendar .day {
  background-color: var(--fs-color-warning-200) !important;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  color: var(--fs-color-warning-800) !important;
  display: block;
  font-size: 17px;
  font-weight: bold;
  height: 44px;
  line-height: 42px;
  margin: 0;
  padding: 0;
  text-align: center;
  text-decoration: none;
}

label[for^="forum_create_thread_form_sendMail"] {
  margin-right: 10px;
  margin-left: 3px;
}

/* TODO move me to MemberList.vue */
.user_pic_width {
  width: 50px;
}

